body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8e8e8;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
}

h1 {
    color: #e60073;
}

.photo {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    border-radius: 10px;
}

p {
    color: #333;
    font-size: 18px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e60073;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc005a;
}
